.listItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.301);
    list-style: none;
    background-color: white;
    margin: .5rem;
    padding: .5rem;
    border-radius: 1rem;
    span {
        display: flex;
        align-items: center;
        max-width: 95%;
    }
    &-text{
        word-break: break-all;
        display: flex;
        text-align: left;
        margin-left: 10px;
    }
}

.checkboxes{
    cursor: pointer;
}

.close-btn {
    user-select: none;
    cursor: pointer;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background-color: rgb(143, 0, 0);
    transform: rotate(45deg);
    transition: 200ms;
    &:hover {
        transition: 200ms;
        background-color: rgb(228, 3, 3);
    }
}